.movie-page {
  h2 {
    color: white;
  }

  p {
    color: #ffe81f;
  }

  .back {
    position: fixed;
    font-size: 20px;
    color: white;
  }

  .tatooine {
    position: fixed;
    width: 100vw;
    top: 75%;
    left: 0%;
  }
}
